<p id="notice"><%= notice %></p>

  <div class="box">
      <h1>Current Listed Meals</h1>
        <hr>
      <div>
        <%= link_to 'Create New Meal', new_create_meal_path, :class => "btn btn-primary" %>
      </div>
        <hr>
  <div>
      <% @create_meals.each do |create_meal| %>
          <div class="thumbnail">
            <%= image_tag create_meal.avatar.url(:medium) %>
            <div class="caption">
              <h3><%= create_meal.name %></h3>
              <p><%= create_meal.description %></p>
              <h6>
              <%= link_to 'Preview', create_meal %>
            </br></br>
              <%= link_to 'Edit', edit_create_meal_path(create_meal) %> |
              <%= link_to 'Delete', create_meal, method: :delete, data: { confirm: 'Are you sure?' } %>
              </h6>
            </div>
          </div>
      <% end %>
      <br>
  </div>

  <%= link_to "Back", restaurant_path, :class => "btn btn-success"%>

</div>
