<div class="box center-text">
  <h1>Organization</h1>
</div>

</br>

<div class="center-text col-lg-12">
  <div class="box">
    <!-- <form>
      <fieldset class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Username">
      </fieldset>
      <fieldset class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
      </fieldset>
    </form>
    <input class="btn btn-primary" type="submit" value="Submit">
    <%= link_to "Sign Up", sign_up_path(@sign_up), :class => "btn btn-success"%>
     -->

          <hr>
            <h2>Available Meals</h2>
          <hr>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag ("org_meals/med_meal.jpeg") %>
                <div class="caption">
                  <h3>Half Foods</h3>
                  <p>10 Mediterranean Meals</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag ("org_meals/pizza.jpeg") %>
                <div class="caption">
                  <h3>Pizza Shack</h3>
                  <p>5 Lg Pepperoni Pizzas</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag ("org_meals/sandwich.jpeg") %>
                <div class="caption">
                  <h3>Savers Grocery</h3>
                  <p>8 Cuban Sandwiches</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag ("org_meals/kabab.jpeg") %>
                <div class="caption">
                  <h3>BBQ Hut</h3>
                  <p>6 Sausage & Rice Plates</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag ("org_meals/pho.jpeg") %>
                <div class="caption">
                  <h3>Pho Palace</h3>
                  <p>7 Beef Pho Soups</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag ("org_meals/salad.jpeg") %>
                <div class="caption">
                  <h3>Tomato Garden</h3>
                  <p>12 Blue Potato Salads</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
