<div class="box center-text">
  <h1>Organization</h1>
</div>

</br>

<div class="center-text col-lg-12">
  <div class="box">

          <hr>
            <h2>Available Meals</h2>
          <hr>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" style="height: 375px">
                <%= image_tag ("https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a66d195cf88523bb351e921b6e61aadc") %>
                <div class="caption">
                  <h3>Half Foods</h3>
                  <p>10 Mediterranean Meals</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" style="height: 375px">
                <%= image_tag ("https://images.unsplash.com/photo-1458642849426-cfb724f15ef7?crop=entropy&dpr=2&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450") %>
                <div class="caption">
                  <h3>Pizza Shack</h3>
                  <p>5 Lg Pepperoni Pizzas</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail" style="height: 375px">
                <%= image_tag ("https://images.unsplash.com/reserve/jCCsCae7RwCDOKTCA2Ji_reggeli%20-%20sonk%C3%A1s%20szendvics.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=71d324d12cd9a76e457b2bfebb192e29") %>
                <div class="caption">
                  <h3>Savers Grocery</h3>
                  <p>8 Cuban Sandwiches</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-4" style="height: 375px">
              <div class="thumbnail">
                <%= image_tag ("https://images.unsplash.com/photo-1458130535563-1729c33181cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c65827c930850a8029fc5370fdbc9017") %>
                <div class="caption">
                  <h3>BBQ Hut</h3>
                  <p>6 Sausage & Rice Plates</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4" style="height: 375px">
              <div class="thumbnail">
                <%= image_tag ("https://images.unsplash.com/photo-1455619452474-d2be8b1e70cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=dbbb9cff84744dd5ee12ce715b098f48") %>
                <div class="caption">
                  <h3>Pho Palace</h3>
                  <p>7 Beef Pho Soups</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4" >
              <div class="thumbnail" style="height: 375px">
                <%= image_tag ("https://images.unsplash.com/reserve/oMRKkMc4RSq7N91OZl0O_IMG_8309.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450") %>
                <div class="caption">
                  <h3>Tomato Garden</h3>
                  <p>12 Blue Potato Salads</p>
                  <p><%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%></p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
