  <div class="box">
        <h3>Available Meals</h3>
<hr>
    <%= link_to 'Back', customer_path, :class => "btn btn-success" %>
  </div>

        <div class="col-lg-4">
          <table>
              <tbody>
                  <% @create_meals.each do |create_meal| %>
                        <tr>
                          <div class="center-text">
	                          <div class="thumbnail">
		                          <%= image_tag create_meal.avatar.url(:thumb) %>
		                          <h3><%= create_meal.name %></h3>
		                          <p><%= create_meal.description %></p>

                              <%= link_to "Purchase", thankyou_path(@organization), :class => "btn btn-primary"%>
	                          </div>
	                      </div>
                      </tr>
                  <% end %>
              </tbody>
          </table>
        </div>

        <div class="col-lg-8">
          <div class="vertical">
            <%= image_tag ("map.png")%>
          </div>

        </div>
